<launch>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x 0.601737 -y 4.244470 -z 0.0 -Y 1.557 -param robot_description" />

  <node pkg="challenge_project" name="line_detection" type="line_detection.py" output="screen" required="true"> </node>
  <node pkg="challenge_project" name="control" type="control.py" output="screen" required="true"> </node>

  </launch>
  